
<h1>Enter Required creditional to find and update user</h1>
<h1> Enter USER ID  </h1>
<form action="user_id_submit" method="POST" accept-charset="utf-8">
	<input type="text" name="user_id">
	<input type="Submit">
	RFID=122121221
</form>
<h1>------------------------------</h1>
<h1> Enter PHONE No </h1>

